<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.jmu.mapper.StudentsMapper">

    <!-- 根据学生Id号获取学生信息 -->
    <select id="findStuById" parameterType="String" resultType="cn.jmu.po.Students">
       select * from students where studentId = #{id}
   </select>

    <!-- 根据学生姓名模糊查询学生信息列表 -->
    <select id="findStuByName" parameterType="String" resultType="cn.jmu.po.Students">
       select * from students where studentName like concat('%',#{value},'%')
   </select>

    <!-- 添加学生 -->
    <insert id="addStu" parameterType="cn.jmu.po.Students">
       insert into students(studentId,studentName,studentPwd,sex,classId)
       values(#{studentId},#{studentName},#{studentPwd},#{sex},#{classId})
   </insert>

    <!-- 修改学生信息 -->
    <update id="updateStu" parameterType="cn.jmu.po.Students">
       update students set
       studentName=#{studentName},studentPwd=#{studentPwd},sex=#{sex},classId=#{classId}
       where studentId=#{studentId}
   </update>

    <!-- 删除指定学生 -->
    <delete id="delStu" parameterType="String">
       delete from students where studentId=#{studentId}
   </delete>
</mapper>